body {
	font-size: 12px;/*font*/
    text-align:center;
    margin:0 auto;
}
div{
    text-align:center;
    margin:0 auto;
}
table {
border-collapse: separate;
/*border-spacing: 1px;*/
font-size: 12px;/*font*/
margin:0 auto;
}
table td, table th {
/*display: block;
width: 100%;*/
padding: 10px;
width: 500px;/*敢えて幅固定に*/
}
table th {
background-color: #008000;
color: white;
font-weight: normal;
width: 100px;/*敢えて幅固定に*/
}
table td {
background-color: #EAEAEA;
}
img.jasco_productImage {
    width: 300px;
	height: auto;
	position: relative;
}
/*注釈*/
/*.caution{
    background-color: white;
    text-align:left;
    color: red;
}*/
.caution0{
    background-color: white;
    text-align:left;
    color: red;
    font-size: large;
    font-weight: bold;
    padding: 1px;
}
.caution1{
    background-color: white;
    color: black;
    text-align:left;
    padding: 1px;
}
/*中止行*/
.unabletobuy_cell{
  background-color: #A5A5A5;
  color: black;
}

/*定価セル*/
.sale_price{
    background-color: #ffffc1;
    color: black;
}

/*シンプルフラットデザインボタン*/
.btn-flat-simple {
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.25em 0.5em;
text-decoration: none;
color: white;
background: #7F7F7F;
transition: .4s;
cursor: pointer;
vertical-align:middle;
}

.btn-flat-simple:hover {
/*background: #377637;*/
background: #008000;
color: white;
}
/* cart画像をクリックした瞬間 */
.btn-flat-simple:active{
 
	/* 要素を若干下に下げることで、押した感じを出す。*/
 
	/* 今いる位置から相対的に3px下に配置する。*/
	position: relative;
	top: 3px;
 
}
/*********************定価用ボタン*****************/

/*シンプルフラットデザインボタン*/
.btn-flat-simple_p {
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.25em 0.5em;
text-decoration: none;
color: white;
background: #7F7F7F;
transition: .4s;
cursor: pointer;
vertical-align:middle;
}

.btn-flat-simple_p:hover {
/*background: #377637;*/
background: #ffffc1;
color: black;
}
/* cart画像をクリックした瞬間 */
.btn-flat-simple_p:active{
    
    /* 要素を若干下に下げることで、押した感じを出す。*/
    
    /* 今いる位置から相対的に3px下に配置する。*/
    position: relative;
    top: 3px;
    
}
/*********************卸1用ボタン******************/

/*シンプルフラットデザインボタン*/
.btn-flat-simple_d1 {
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.25em 0.5em;
text-decoration: none;
color: white;
background: #7F7F7F;
transition: .4s;
cursor: pointer;
vertical-align:middle;
}

.btn-flat-simple_d1:hover {
/*background: #377637;*/
background: #c1ffc1;
color: black;
}
/* cart画像をクリックした瞬間 */
.btn-flat-simple_d1:active{
    
    /* 今いる位置から相対的に3px下に配置する。*/
    position: relative;
    top: 3px;
    
}

/*********************卸2用ボタン******************/
/*シンプルフラットデザインボタン*/
.btn-flat-simple_d2 {
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.25em 0.5em;
text-decoration: none;
color: white;
background: #7F7F7F;
transition: .4s;
cursor: pointer;
vertical-align:middle;
}

.btn-flat-simple_d2:hover {
/*background: #377637;*/
background: #c1e0ff;
color: black;
}
/* cart画像をクリックした瞬間 */
.btn-flat-simple_d2:active{
    
    /* 要素を若干下に下げることで、押した感じを出す。*/
    
    /* 今いる位置から相対的に3px下に配置する。*/
    position: relative;
    top: 3px;
    
}

/*********************工場卸用ボタン******************/
/*シンプルフラットデザインボタン*/
.btn-flat-simple_m {
position: relative;
display: inline-block;
font-weight: bold;
padding: 0.25em 0.5em;
text-decoration: none;
color: white;
background: #7F7F7F;
transition: .4s;
cursor: pointer;
vertical-align:middle;
}

.btn-flat-simple_m:hover {
/*background: #377637;*/
background: #ffc1ff;
color: black;
}
/* cart画像をクリックした瞬間 */
.btn-flat-simple_m:active{
    
    /* 要素を若干下に下げることで、押した感じを出す。*/
    
    /* 今いる位置から相対的に3px下に配置する。*/
    position: relative;
    top: 3px;
    
}
/***************************************/
/*イメージをスクロール*/
*, *:before, *:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.cp_cssslider {
width: 300px;
padding-top: 200px; /* 画像の高さ */
position: relative;
margin: 2em auto;
text-align: center;
}
.cp_cssslider > img {
position: absolute;
left: 0;
top: 0;
transition: all 0.5s;
border-radius: 3px;
box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
}
.cp_cssslider input[name='cp_switch'] {
display: none;
}
/* サムネイル */
.cp_cssslider label {
margin: 15px 5px 0 5px;
border: 2px solid #ffffff;
display: inline-block;
cursor: pointer;
transition: all 0.5s ease;
opacity: 0.6;
border-radius: 3px;
}
.cp_cssslider label:hover {
opacity: 0.9;
}
.cp_cssslider label img {
display: block;
width: 40px;
border-radius: 2px;
}
.cp_cssslider input[name='cp_switch']:checked + label {
border: 2px solid #FF7043;
opacity: 1;
}
.cp_cssslider input[name='cp_switch'] ~ img {
opacity: 0;
}
.cp_cssslider input[name='cp_switch']:checked + label + img {
opacity: 1;
}

/* cart画像をホバーした */
button {
	padding: 0;
	border: none;
	background: transparent;
}

button img {
display: block;
}
img.cart_button:hover{
 	/* 透明度を上げることで、画像の色を薄く見せる。*/
	opacity:0.5;
 	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
}
 /* cart画像をクリックした瞬間 */
img.cart_button:active{
 	/* 要素を若干下に下げることで、押した感じを出す。*/
 	/* 今いる位置から相対的に3px下に配置する。*/
	position: relative;
	top: 70px;
 }
.good {
    width: 50px;
    height: 50px;
    color: #ffffff;
    background-color: #2779bd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
	background: transparent;
    
	padding: 0;
	border: none;
	background: transparent;

    position: absolute;
    top: 5px;
    left: 5px;
}
