
    .fixed_col{
        position: sticky;
        top: 56px;
        color: white;
        background:#008000;
        font-size: 12px;
        font-weight:normal;
        border: 1px solid black;
        border-collapse: separate;
    }

    .fixed_col:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-collapse: separate;
      }

      @media (max-width: 480px){
        .fixed_col{     
            top: 51px;
        }
    }
    /*-----------------------------------*/

    .fixed_col_int_hide{
        position: sticky;
        top: 56px;
        color: white;
        background:#008000;
        font-size: 12px;
        font-weight:normal;
        border: 1px solid black;
        border-collapse: separate;
    }

    .fixed_col_int_hide:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-collapse: separate;
      }

      @media (max-width: 480px){
        .fixed_col_int_hide{     
            top: 51px;
        }
    }
    