﻿.gnav {
  display: inline-flex;
  height: 2rem;
  text-align: center;
}
/*全てのリスト・リンク共通*/
.gnav ul {
  list-style: none;
  margin: 0 auto;
  padding:0px;
}
.gnav li {
  list-style: none;
  position: relative;
  margin: 0 auto;
}
.gnav li a {
  border-right: 0.5em solid #fff;
  background:#7F7F7F;
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
}
.gnav li div {
  border-right: 0.5em solid #fff;
  background:#7F7F7F;
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
}

/*子階層以降共通*/
.gnav li li {
  height: 0;
  overflow: hidden;
  transition: .5s;  
}
.gnav li li a {
  border-top: 1px solid #eee;
}
.gnav li li div {
  border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}

.gnav li ul :hover > a {
  background: #048404;
}
.gnav li ul :hover > div {
  background: #048404;
}