#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 12%;
    right: 5%;
    color: white;
    opacity: 0.8;
    vertical-align:middle;
  }
  @media (max-width: 480px){
    #page_top{
        top: 19%;
        right:20%;
    }
  }
  @media (max-width: 780px){
    #page_top{
        right:17%;
    }
    @media (max-width: 1024px){
      #page_top{
        right:10%;
      }
  }
  
  