.container {
max-width: 800px;
margin: 2em auto;
display: grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: repeat(3,auto);
grid-gap: 1rem;
}

.container header {
grid-area: 1/1/2/3;
}

.container main {
grid-area: 2/1/3/2;
}

.container aside {
grid-area: 2/2/3/3;
}

.container footer {
grid-area: 3/1/4/3;
}

.container > * {
background-color: #ddd;
padding: 1rem;
}

/*Flexbox CSS Grid 勉強中です*/ 
/*https://coliss.com/articles/build-websites/operation/css/css-grid-vs-flexbox-which-should-you-choose.html*/
/*最終的に目指す挙動は　https://www.jasco.co.jp/cgi-bin/inq-form.cgi　のお客様連絡先の入力欄です*/