.guide_menu {
  max-width: 300px;
}

.guide_menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
  text-align: left;/*目次索引左寄せ*/
}

label {
  display: block;
  margin: 0 0 4px 0;/*メニューとメニューの間の幅*/
  padding : 15px;
  line-height: 1;
  color :#fff;
  background : #11AB4F;
  cursor :pointer;
}

input {
  display: none;
}

.guide_menu ul {
  margin: 0;
  padding: 0;
  background :#f4f4f4;
  list-style: none;
}

.guide_menu li {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#menu_bar0:checked ~ #links0 li,
#menu_bar1:checked ~ #links1 li,
#menu_bar2:checked ~ #links2 li,
#menu_bar3:checked ~ #links3 li,
#menu_bar4:checked ~ #links4 li,
#menu_bar5:checked ~ #links5 li,
#menu_bar6:checked ~ #links6 li,
#menu_bar7:checked ~ #links7 li,
#menu_bar8:checked ~ #links8 li,
#menu_bar9:checked ~ #links9 li,
#menu_bar10:checked ~ #links10 li,
#menu_bar11:checked ~ #links11 li,
#menu_bar12:checked ~ #links12 li,
#menu_bar13:checked ~ #links13 li,
#menu_bar14:checked ~ #links14 li,
#menu_bar15:checked ~ #links15 li,
#menu_bar16:checked ~ #links16 li,
#menu_bar17:checked ~ #links17 li,
#menu_bar18:checked ~ #links18 li,
#menu_bar19:checked ~ #links19 li,
#menu_bar20:checked ~ #links20 li {
  height: 54px;
  opacity: 1;
}

/*------------------------------------------------------*/
header {
  padding:10px;
  background: #ccc;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンの設置場所*/
#nav-open {  
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  top: 20px;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  top: 10px;/*#nav-open spanから何px*/
}
#nav-open span:after {
  top: 20px;/*#nav-open spanから何px*/
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 300px;
  max-width: 300px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
}
/* 左寄せに戻す場合
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 110px;
  max-width: 330px;
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}*/

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

/*ロゴやサイトタイトルをセンタリング*/
.logo-area{text-align:center;margin:auto;}