table {
border-collapse: collapse;
border: solid 1px black;/*表全体を線で囲う*/
font-size: 12px;/*font*/
table-layout: fixed;
word-wrap: break-word;
}
table th, table td {
/*border: solid 1px black;/**/
/*破線 1px オレンジ*/
border: solid 1px black;
}
.fixed01{
  overflow:visible;
  position: sticky;
  top: 0;/*ヘッダーバー分*/
  color:black;
  background: white;
}
table td.col_center {
  text-align:center;
}
table td.col_price {
  text-align: right;
}
table td.col_price2 {
  text-align: right;
  background-color:#FFFFC1;
}
table td.col_price2:hover {
  background-color: #FFD966;
 }
table td.col_price3 {
  text-align: right;
  background-color:#FFFF99;
}
table td.col_price3:hover {
  background-color: #FFE4B5;
 }
table tr.col_disable {
  background-color: #A5A5A5;
}
table tr.col_limited_disable {
  background-color: #ffcccc;
}
table tr:hover {
 background-color: #FFD966;
}
table tr.col_disable:hover {
  background-color: gray;
}
table tr.col_limited_disable:hover {
  background-color: #E6BFB2;
}
table tr.col_listnum {
  background-color: #A5A5A5;
}
table tr.col_listnum:hover {
  background-color: #A5A5A5;
}
.sticky-component{
  overflow:visible;
  overflow-x:visible;
  overflow-y:visible;
  position: sticky;
  top: 50px;
}	
/*選択行をアクティブに*/
body{margin:0;padding:0;font-size: 12px;/*font*/}
/* Hide text box */
#tableEventShifter{
  /* Need to set the focus.
     So, 'Display: none;' is not working.
  */
  position:absolute;
  z-index: -10;
  height:0;
}
/* Selected row color. */
.selected {background:#008000;}
