﻿.toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .toggle_label {
    width: 38px;
    height: 18px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    transition: 0.4s;
    box-sizing: border-box;
  }
  
  .toggle_label:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }
  
  .toggle_input:checked + .toggle_label {
    background-color: #4BD865;
  }
  
  .toggle_input:checked + .toggle_label:after {
    left: 20px;
  }
  
  .toggle_button {
    position: relative;
    width: 38px;
    height: 18px;
    margin: auto;
  }