/******************************back_button_flot***************************/
.back_button_flot{
    height:70px;
    width:70px;
    border: none;
    background:#7F7F7F;
    color: white;
    vertical-align:middle;
    /*border-radius: 10px;*/
    position: fixed;
    right: 20px;
    top: 100px;
    opacity: 0.8;    
    visibility: hidden;
}
/* cart画像をホバーした */
.back_button_flot:hover{
    background: #048404;
    color: white;
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
    opacity: 1;
}
 
/* cart画像をクリックした瞬間 */
.back_button_flot:active{
 
	/* 要素を若干下に下げる*/
}
/******************************next_button_flot***************************/
.next_button_flot{
    height:70px;
    width:70px;
    border: none;
    background:#7F7F7F;
    color: white;
    vertical-align:middle;
    /*border-radius: 10px;*/
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.7;
    visibility: hidden;    
}
/* cart画像をホバーした */
.next_button_flot:hover{
    background: #048404;
    color: white;
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
    opacity: 1;
}
 
/* cart画像をクリックした瞬間 */
.next_button_flot:active{
 
	/* 要素を若干下に下げる*/
}