
    table {
        border: solid 1px black;
        border-collapse: collapse;
    }
    table th{
        border: solid 1px black;
        padding:5px;
        font-size: 16px;
        font-weight:normal;
    }

    table td {
        border: solid 1px black;
        padding:5px;
        font-size: 16px;
        font-weight:normal;
    }