
/******************************text box***************************/
  input[type="text"] {
    border: 1px solid #999;
  }
  input[type="text"]:focus {
    border: 1px solid #008000;
    outline: 0;
  }
  
/******************************search_button***************************/
/*シンプルフラットデザインボタン*/
.btn-flat-simple {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: white;
    background: #008000;
    transition: .4s;
    cursor: pointer;
    }
    
    .btn-flat-simple:hover {
    background: #377637;
    color: white;
    }
/******************************search_button***************************/
.search_button{
    height:30px;
    width:100px;
    border: none;
    background:#7F7F7F;
    color: white;
    vertical-align:middle;
}
/* cart画像をホバーした */
.search_button:hover{
    /*background:#377637;*/
    background: #008000;
    color: white;
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
}
 
/* cart画像をクリックした瞬間 */
.search_button:active{
 
	/* 要素を若干下に下げることで、押した感じを出す。*/
 
	/* 今いる位置から相対的に3px下に配置する。*/
	position: relative;
	top: 3px;
 
}
/******************************search_button_flot***************************/
.search_button_flot{
    height:70px;
    width:70px;
    border: none;
    background:#7F7F7F;
    color: white;
    vertical-align:middle;
    /*border-radius: 10px;*/
    position: fixed;
    right: 10px;
    top: 50%;
    opacity: 0.8;    
    /*visibility: hidden;*/
    visibility: visible;
}
/* cart画像をホバーした */
.search_button_flot:hover{
    background: #048404;
    color: white;
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
    opacity: 1;
}
 
/* cart画像をクリックした瞬間 */
.search_button_flot:active{
 
	/* 要素を若干下に下げる*/
}
/*
@media (max-width: 480px){
    .search_button_flot{  
        top: 100px;
        visibility: visible;
    }
}*/
/******************************clear_button_flot***************************/
.clear_button_flot{
    height:70px;
    width:70px;
    border: none;
    background:#7F7F7F;
    color: white;
    vertical-align:middle;
    /*border-radius: 10px;*/
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.7;
    visibility: hidden;    
}
/* cart画像をホバーした */
.clear_button_flot:hover{
    background: #048404;
    color: white;
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
    opacity: 1;
}
 
/* cart画像をクリックした瞬間 */
.clear_button_flot:active{
 
	/* 要素を若干下に下げる*/
}

@media (max-width: 480px){
    .clear_button_flot{   
        bottom: 70px;
        display: none;
        visibility: visible;
    }
}