div{
  font-size:12px;/*font*/
}

header {
  text-align:center;
}

sup {
  text-align:left;
  color:red;
}

h1 {
  color:royalblue;
  margin:0 auto;
  width:auto;
  text-align:center;
}
.main {
    text-align:center;
    margin:0 auto;
}
.main table {
    text-align:left;
	margin:0 auto;
}
.main label,input{
}
.main summary{
  text-align:left;
}

.main.bind_control{
color:royalblue;
}
.main.flex_control{
display: flex;
}

/*grid*/
.grid_contents{
  display: grid;
  max-width: 1200px;
  grid-template-columns:150px 1fr 1fr;
  margin:0 auto;
}
.grid_contents div{
    background-color: #87d2de;
    color: #000;
    padding: 1em;
    border: 1px solid white;
    text-align:left;
    vertical-align:middle;
}
/*.grid_contents div:nth-of-type(2n){
    background-color: #f9f9f9;
}
/*@media (max-width: 480px){
  .grid_contents{
    grid-template-columns:1fr;
  }
}*/
