div{
  font-size:12px;/*font*/
}

header {
  text-align:center;
}

/*お知らせの位置調整*/
.notice_area {
	margin:0px auto;
	width: clamp(300px, 90vw, 1050px);
}

.notice {
	margin-left:10px;
	width: clamp(300px, 90vw, 1050px);
}

.header_layout {
	width: clamp(360px, 100vw, 1050px);
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top:10px;
	margin-bottom:-5px;
}

@media screen and (max-width: 665px) {
	#center_title {
		display:none;
	}
	.multiple {
		display:none;
	}
	.header_layout {
		grid-template-columns: 1fr 0fr 1fr;	
	}
}

h1 {
  color:black;
  margin:0 auto;
  width:auto;
  text-align:center;
}
.main {
    text-align:center;
    margin:0 auto;
}
.main table {
  text-align:left;
	margin:0 auto;
}
.main label,input{
}
.main summary{
  text-align:left;
}

.main.bind_control{
color:#008000;
}
.main.flex_control{
display: flex;
}

/*grid*/
.grid_contents{
  display: grid;
  max-width: 1050px;
  grid-template-columns:140px 1fr;
  margin:0 auto;
}
.grid_contents div{
    /*background-color: #008000;
    color: white;*/
    font-weight: bold;
    padding: 10px;
}
.grid_contents div:nth-of-type(2n){
    background-color: #EAEAEA;
    color: #000;
    font-weight:normal;
}
@media (max-width: 480px){
  .grid_contents{
    grid-template-columns:1fr;
  }
}
/*inner_grid_contentsでセル内にセルを違和感なく分割するため、色・境界の指定はこちらで*/
.grid_item_01{
  background-color: #008000;
    color: white;
    border: 1px solid white;
}
.grid_item_02{
border: 1px solid white;
}

/* フリーワード */
.inner_grid_contents{
  display: grid;
  grid-template-columns:1fr 50px;               
  margin:0 auto;
  padding: 0;

  background-color: #EAEAEA; 
  color: #000;
  border: 0px solid #EAEAEA;
}
.inner_grid_contents div{
  background-color: #EAEAEA;
  padding: 0;
  border: 0px solid #EAEAEA;
}
.inner_grid_contents div:nth-of-type(1n){
    background-color: #EAEAEA;
}

/*grid*/

.grid_contents_4row{
  display: grid;
  max-width: 1050px;
  grid-template-columns:140px 1fr 140px 1fr;
  margin:0 auto;
}
.grid_contents_4row div{
    /*background-color: #008000;
    color: white;*/
    font-weight: bold;
    padding: 10px;
}
.grid_contents_4row div:nth-of-type(2n){
    background-color: #EAEAEA;
    color: #000;
    font-weight:normal;
}
@media (max-width: 480px){
  .grid_contents_4row{
    grid-template-columns:1fr;
  }
}

/* cart画像をホバーした */
img.cart_button:hover{
 
	/* 透明度を上げることで、画像の色を薄く見せる。*/
	opacity:0.5;
 
	/* リンクをホバーしたときのカーソルにする。*/
	cursor: pointer;
}
 
/* cart画像をクリックした瞬間 */
img.cart_button:active{
 
	/* 要素を若干下に下げることで、押した感じを出す。*/
 
	/* 今いる位置から相対的に3px下に配置する。*/
	position: relative;
	top: 3px;
 
}

/* 検索の縦位置真中合わせ用 */
p.grid_letter{
	margin-top:6px;
	margin-bottom:-6px;
}


/* 検索条件入力時のスタイル******************************************************/

/*inner_grid_contents+α*/
.grid_style_98par{
  display: grid;
  max-width: 600px;
  grid-template-columns:1fr 50px;
  margin:0 auto;
  
  width:98%; 
  box-sizing:content-box;
}
.grid_style_left{
  text-align:left;
  border: 1px solid white;
}
.grid_style_white{
  background-color:white;
}
.grid_style_whiteplus{
  background-color:white;
  white;text-align:left;
  margin-bottom:-10px;
}
.wide_textbox_style{
  width:97%; 
  box-sizing:content-box;
  margin-top:10px;
  height:30px;
  font-size:20px;
}

/* 更新日時のスタイル******************************************************/
.style_updatedata{
  text-align:right;
  max-width: 1000px;
  margin-top:-20px;
  margin-bottom:0px;
}