.main {
}
.main h1 {
display: block;
color:royalblue;
text-align:center;
}
.main label,input{
}
.main select{
text-align:left;
}
.main.bind_control{
text-align:left;
color:royalblue;
}
.main.flex_control{
display: flex;
text-align:left;
}