table {
border-collapse: collapse;
border: solid 1px black;/*表全体を線で囲う*/
font-size: 12px;/*font*/
table-layout: fixed;
word-wrap: break-word;
}
table th, table td {
border: solid 1px black;/**/
/*破線 1px オレンジ*/
}
table td.col_price {
  text-align: right;
}

table tr:hover {
  background-color: peachpuff;
}

/*選択行をアクティブに*/
body{margin:0;padding:0;font-size: 12px;/*font*/}
/* Hide text box */
#tableEventShifter{
  /* Need to set the focus.
     So, 'Display: none;' is not working.
  */
  position:absolute;
  z-index: -10;
  height:0;
}
/* Selected row color. */
.selected {background:palegreen;}
