
table th, table td {
border: dashed 1px orange;/**/
/*破線 1px オレンジ*/
}
.fixed01{
  overflow:visible;
  overflow-x:visible;
  overflow-y:visible;
  position: sticky;
  top: 0;/*ヘッダーバー分*/
  color:orange;
  background: white;
}
.some-component{
position: sticky;
top: 0;
}	