#footerFloatingMenu_bold {
    display: block;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: center;
    border: 3px solid #1b2538;
    border-radius: 5px;
    /*background-color: transparent;*/
    /*opacity: 0.8;*/
    background-color: #ffffff;
    margin-left: auto;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}
#footerFloatingMenu_bold  ul {
   margin: 0;
   padding: 0;
   text-align: center;
   -webkit-transition: all 0.5s ease;
           transition: all 0.5s ease;
}
#footerFloatingMenu_bold ul li {
   display: inline-block;
}

#footerFloatingMenu_bold ul li a {
    display: inline-block;
    padding: 0.7em 0.5em;
    /*padding-top: 1em;*/
    -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
    text-decoration: none;
    color: #1b2538;
    border-bottom: 4px solid transparent;
    height: 46px;
    line-height: 2em;
 }
 #footerFloatingMenu_bold ul li a:hover {
    color: #ffffff;
    background-color: #1b2538;
 }
 #footerFloatingMenu_bold ul li a:target {
    border-bottom-color: #1b2538;
 }