/****************************** img **************************/
/*chromeのイメージサイズ縮小化を防ぐ*/
img {
    image-rendering: -webkit-optimize-contrast;	
}

/******************************text **************************/
  .class_white_text{
    color:white;
    text-align: center;
  }
  
  .class_gray_text{
    color:#808080;
    text-align: center;
  }
  
/******************************text box***************************/
#footerFloatingMenu {
    display: block;
    width: 100%;
    background-color: #11AB4F;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: center;
}

#headerFloatingMenu {
    display: block;
    width: 100%;
    background-color:white;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9998;
    text-align: center;
    background: white linear-gradient(transparent 90%,#11AB4F 0%);
}
#headerFloatingMenu a {
  text-decoration: none;
  text-align: right;
}
#headerFloatingMenu img {
  /*text-align: left;*/
  transform: scale(1.0);
}

#menu_button_bottom{     
	display: none;
}

@media (max-width: 480px){
    #menu_button_top{     
        display: none;
    }
    
   #menu_button_bottom{     
        display: block;
        top: auto;
        margin-top: -80px;
    }
    #menu_button img{
        transform: scale(0.8);
    }
    .jasco_line {
	   size: 140px;
	   height: 6px;
	   border: none;
	   color: #11AB4F;
	   background-color: #11AB4F;
    }
}

/*
@media (max-width: 480px){
    #headerFloatingMenu{     
        top: auto;
        bottom: 0px;
    }
    #headerFloatingMenu img {
        transform: scale(0.8);
    }
}
*/
/******************************headerfixFloatingMenu***************************/
#headerfixFloatingMenu {
    display: block;
    width: 100%;
    height: 50px;
    color: white;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    text-align: left;
    /*vertical-align:middle;*/
    vertical-align: bottom;
}

.img_jascologo{
    height: 50px;
    color: white;
    margin-left:35px;
    margin-top:10px;
    vertical-align: bottom;
}
#headerfixFloatingMenu a {
  text-decoration: none;
}

#headerfixfloating_table {
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 200px;
    z-index: 9997;
    text-align: left;
}

/******************************text box***************************/
#headerloginFloatingMenu {
    display: block;
    width: 100%;
    background-color:white;
    position: fixed;
    left: 0px;
    top: 30px;
    z-index: 9998;
    text-align: center;
    background: white linear-gradient(transparent 90%,#11AB4F 0%);
}
#headerloginFloatingMenu a {
  text-decoration: none;
  text-align: right;
}
#headerloginFloatingMenu img {
  /*text-align: left;*/
  transform: scale(1.0);
}
