/* === テキスト入力欄のSTYLE設定 ============================= */
.sample1Area{
  width          : 120px;              /* BOXの幅               */
  height         : 30px;               /* BOXの高さ             */
  margin         : auto;               /* サンプルを中心に寄せ  */
  letter-spacing : 0.1em;              /* 文字間隔              */
  font-weight    : bold;               /* 太字                  */
  line-height    : 0;                  /* 標準の行高さ          */
}
 
 /* === テキスト入力欄のSTYLE設定 ============================= */
.sample1Text {
  display        : block;              /* ブロック化            */
  float          : left;               /* 横並び                */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 30px;               /* 入力の高さ            */
  width          : 70px;               /* 入力の幅              */
  margin         : 0;                  /* 外余白                */
  padding        : 0 15px;             /* 内余白                */
  border         : 2px solid #007fff;  /* 枠線　幅,実践,色      */
  border-radius  : 15px 0 0 15px;      /* 左上下の角丸          */
  color          : #333;               /* 文字色                */
  font-size      : 18px;               /* フォントサイズ        */
  outline        : 0;                  /* 入力の薄い枠を非表示  */
  transition     : .3s;                /* 滑らかな動き          */
}
 
 /* === 検索ボタン欄のSTYLE設定 =============================== */
.sample1Button {
  float          : left;               /* 横並び                */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 30px;               /* 入力の高さ            */
  margin         : 0;                  /* 外余白                */
  padding        : 6px 10px;           /* 内余白                */
  border         : none;               /* 枠線　幅,実践,色      */
  border-radius  : 0 15px 15px 0;      /* 右上下の角丸          */
  background     : #007fff;            /* ボタンの色            */
  color          : #fff;               /* 文字色                */
  cursor         : pointer;            /* カーソル設定          */
}
 
 /* === テキスト入力欄にフォーカスか来たとき ================== */
.sample1Text:focus {
  background     : #cfe7ff;            /* フォーカス時の背景色  */
  width          : 170px;              /* 幅を広げる            */
  margin-left    : -100px;             /* 親要素左外に広げる    */
}
 /* === 検索アイコンのSTYLE設定 =============================== */
.sample1Img {
  display        : inline-block;       /* インラインブロック化  */
  width          : auto;               /* 幅は高さに合わせる    */
  height         : 18px;               /* 画像の高さ            */
  margin         : 0 3px 0 0;          /* 余白                  */
  vertical-align : middle;             /* 横の文字位置          */
}
 
 /* === IEの入力エリア右側×消し ============================== */
.sample1Text::-ms-clear {
  display        : none;               /* ×を消す              */
}
/* next*/
/* === 検索全体のBOX (サンプル用) ============================ */
.sample3Area{
  position       : relative; 
  width          : 250px;              /* BOXの幅               */
  height         : 40px;               /* BOXの高さ             */
  margin         : auto;               /* サンプルを中心に寄せ  */
  letter-spacing : 0.1em;              /* 文字間隔              */
  font-weight    : bold;               /* 太字                  */
  line-height    : 0;                  /* 標準の行高さ          */
}
 
 /* === テキスト入力欄のSTYLE設定 ============================= */
.sample3Text {
  position       : absolute;
  display        : block;              /* ブロック化            */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 40px;               /* BOXの高さ             */
  width          : 100%;               /* テキスト入力の幅      */
  margin         : 0;                  /* 外余白                */
  padding        : 0 45px 0 8px;       /* 内余白                */
  border         : 2px solid #666;     /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 角丸                  */
  color          : #333;               /* 文字色                */
  font-size      : 18px;               /* フォントサイズ        */
  outline        : 0;                  /* 入力の薄い枠を非表示  */
}
 
 /* === 検索ボタン欄のSTYLE設定 =============================== */
.sample3Button {
  position       : absolute;
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 28px;               /* 入力の高さ            */
  margin         : 0;                  /* 外余白                */
  padding        : 6px 10px;           /* 内余白                */
  top            : 6px;                /* ボタン表示位置(上)    */
  right          : 6px;                /* ボタン表示位置(右)    */
  border         : none;               /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 右上下の角丸          */
  background     : #666;               /* ボタンの色            */
  color          : #fff;               /* 文字色                */
  cursor         : pointer;            /* カーソル設定          */
}
 
 /* === テキスト入力欄にフォーカスか来たとき ================== */
.sample3Text:focus {
  background     : #cfe7ff;            /* フォーカス時の背景色  */
}
 
 /* === 検索ボタン欄にフォーカスか来たとき ==================== */
.sample3Button:hover {
  background     : #333;               /* フォーカス時の背景色  */
}
 
 /* === 検索アイコンのSTYLE設定 =============================== */
.sample3Img {
  display        : inline-block;       /* インラインブロック化  */
  width          : auto;               /* 幅は高さに合わせる    */
  height         : 16px;               /* 画像の高さ            */
  margin         : 0;                  /* 余白                  */
  vertical-align : middle;             /* 横の文字位置          */
}
 
 /* === IEの入力エリア右側×消し ============================== */
.sample3Text::-ms-clear {
  display        : none;               /* ×を消す              */
}

#form5{
  position:relative; 
  margin-bottom:20px;	
  }
#sbox5{	
  outline:0;	
  height:50px;
  padding:0 10px; 
  position:absolute; 
  left:0;
  top:0; 
  max-width:270px;
  border-radius:2px;
  background:#eee;
}
#sbtn5{
  width:70px;
  height:50px;
  position:absolute; 
  left:280px; 
  top:0;
  border-radius:2px;
  background:#7fbfff;
  color:#fff;
  font-weight:bold;
  font-size:16px;
  border:none;
}
#sbtn5:hover{
  background:#eee;
  color:#7fbfff;
}
/***************************/
#form4{
  position:relative;
  max-width:300px;	
  margin-bottom:20px;
  }
  #sbox4{
  height:50px;
  padding:0 10px; 
  position:absolute; 
  left:0;
  top:0; 
  border-radius:25px;
  outline:0;
  background:#eee;
  }
  #sbtn4{
  height:50px;
  width:50px;	
  position:absolute; 
  left:250px; 
  top:0;
  background:#7fbfff;
  color:#fff;
  border:none;
  border-radius:0 25px 25px 0;
  }
  #sbtn4 .fa-search{
  font-size:20px;	
  position:absolute;
  top:30%;
  left:30%;	
  }
  #sbtn4:hover{
  color:#888;
  }
  /*********************/
  span.screen-reader-text {
    display: none;
}
 
.site-search {
    border: 1px solid #CCC;
    display: inline-block;
    margin: 10px 0;
}
 
.site-search input:focus,
.site-search button:focus {
    outline: none;
}
 
.site-search .search-field {
    background: none;
    border: none;
    border-color: transparent;
    float:left;
    font-size: 0.8rem;
    height: 36px;
    padding: 0 6px 0 6px;
    -webkit-appearance: none;
}
 
.site-search button {
    background:none;
    border: none;
    border-color: transparent;
    float:left;
    padding: 7px 7px 7px 0;
}
 
.site-search button img {
    cursor: pointer;
}