.main-nav {
display: flex;
}
.main-nav a {
margin: 10px;
border-radius: 5px;
background: #60B99A;
color: #fff;
display: block;
padding: 15px;
text-decoration: none;
}
.main-nav .logo {
background: #4584b1;
margin-right: auto;
}
.main-nav li:first-child {
margin-right: auto;
}
li {
	list-style: none;
}

.main section {
margin: 10px;
border-radius: 5px;
background: #F5F0CF;
padding: 15px;
flex: 1;
}
.main h1 {
color: #E6AC27;
font-size: 1.5rem;
}
.main p {
margin-top: 10px;
}

.main {
display: flex;
}

.main .col-2 {
flex: 2;
}

@media screen and (max-width: 499px) {
.main {
	flex-direction: column;
}
}