.button {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: -webkit-linear-gradient(#fe5f95 , #ff3f7f);
  background: linear-gradient(#fe5f95 , #ff3f7f);
  border: 1px solid #fe3276;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  -webkit-animation: scale .3s ease-in-out;
  animation: scale .3s ease-in-out;
}
@-webkit-keyframes scale {
  50% { -webkit-transform: scale(1.1); }
}
@keyframes scale {
  50% { transform: scale(1.1); }
}