﻿.cp_ipcheck {
	width: 20%;
	margin: 2em auto;
	text-align: left;
}
.cp_ipcheck input {
	display: none;
}
.cp_ipcheck label {
	position: relative;
	display: block;
	padding: 15px 0;
	padding-right: 35px;
	cursor: pointer;
}
.cp_ipcheck input[type='checkbox'] {
	position: absolute;
	visibility: hidden !important;
}
.cp_ipcheck input[type='checkbox'] + label:before,
.cp_ipcheck input[type='checkbox'] + label:after {
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: -7.5px;
	content: '';
}
.cp_ipcheck input[type='checkbox'] + label:before {
	right: 0;
	width: 30px;
	height: 15px;
	border: 1px solid #e4e3e1;
	border-radius: 15px;
	background: #ffffff;
}
.cp_ipcheck input[type='checkbox'] + label:after {
	right: 15px;
	width: 15px;
	height: 15px;
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
	border-radius: 50%;
	background: #bdbdbd;
}
.cp_ipcheck input[type='checkbox']:checked + label:after {
	right: 0;
	background: #da3c41;
}
