.button {
  position: relative;
  display: inline-block;
  padding: .65em 4em;
  border: 2px solid #333;
  color: #333;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.button::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #fe5f95;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.button:hover {
  color: #fff;
}
.button:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}