/*選択行をアクティブに*/
body{margin:0;padding:0;}
/* Hide text box */
div{background:white;}
#tableEventShifter{
  /* Need to set the focus.
     So, 'Display: none;' is not working.
  */
  position:absolute;
  z-index: -10;
  height:0;
}
/* Selected row color. */
.selected {background:palegreen;}

