#footerFloatingMenu {
    display: block;
    width: 100%;
    background-color: 	lightgreen;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: center;
	opacity: 0.8;
}

