ul, ol {
	list-style: none;
	padding-left:0;
  }
  #fix-phone-under-menu{
	position: fixed;
	width: 100%;
	bottom: 0px;
	font-size: 0;
	opacity: 0.9;
	z-index: 2;
  }
  
  #fix-phone-under-menu li{
	display: inline-block;
	width: 32%;
	font-size: 14px;
	border-right: 1px solid #fff;
  }
  
  #fix-phone-under-menu li a{
	color: #fff;
	background: #252525;
	width: 32%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 60px;
  }