.button {
  display: inline-block;
}
.button span {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: -webkit-linear-gradient(#fe5f95 , #ff3f7f);
  background: linear-gradient(#fe5f95 , #ff3f7f);
  border: 1px solid #fe3276;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button:hover span {
  -webkit-animation: spin .3s ease-in-out;
  animation: spin .3s ease-in-out;
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotateY(360deg); }
}
@keyframes spin {
  100% { transform: rotateY(360deg); }
}